In [18]:
# ==============================
# SECTION 1: ENVIRONMENT SETUP
# ==============================

import pandas as pd
import numpy as np

print("[INFO] Core libraries (pandas, numpy) imported successfully.")

[INFO] Core libraries (pandas, numpy) imported successfully.

In [19]:
# ==============================
# SECTION 2: DATASET LOADING
# ==============================

DATASET_NAME = "Student Performance Dataset"
DATASET_PATH = "../Datasets/StudentsPerformance.csv"

try:
    df = pd.read_csv(DATASET_PATH)
    print(f"[SUCCESS] {DATASET_NAME} loaded successfully from: {DATASET_PATH}")
    print("[VALIDATION] Dataset loaded and ready for inspection.")
except Exception as e:
    print("[ERROR] Failed to load dataset.")
    raise e

[SUCCESS] Student Performance Dataset loaded successfully from: ../Datasets/StudentsPerformance.csv
[VALIDATION] Dataset loaded and ready for inspection.

In [20]:
# ==============================
# SECTION 3: DATASET STRUCTURE
# ==============================

rows, cols = df.shape
print("[STRUCTURE] Dataset dimensionality:")
print(f"  ➤ Number of Rows    : {rows}")
print(f"  ➤ Number of Columns : {cols}")

print("[INTERPRETATION]")
print("- Each row represents an individual student.")
print("- Dataset size supports regression and classification tasks.")

[STRUCTURE] Dataset dimensionality:
  ➤ Number of Rows    : 1000
  ➤ Number of Columns : 8
[INTERPRETATION]
- Each row represents an individual student.
- Dataset size supports regression and classification tasks.

In [21]:
# ==============================
# SECTION 4: DATA PREVIEW
# ==============================

print("[PREVIEW] First 5 records:")
display(df.head())

print("[PREVIEW] Last 5 records:")
display(df.tail())

[PREVIEW] First 5 records:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

[PREVIEW] Last 5 records:

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [22]:
# ==============================
# SECTION 5: SCHEMA INFORMATION
# ==============================

print("[SCHEMA] Column names, data types, and non-null counts:")
df.info()

print("[DATA QUALITY INTERPRETATION]")
print("- Dataset contains categorical and numerical features.")
print("- No missing values detected.")
print("- Data is clean and analysis-ready.")

[SCHEMA] Column names, data types, and non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
[DATA QUALITY INTERPRETATION]
- Dataset contains categorical and numerical features.
- No missing values detected.
- Data is clean and analysis-ready.

In [23]:
# ==============================
# SECTION 6: STATISTICAL SUMMARY
# ==============================

print("[STATISTICS] Descriptive statistics:")
display(df.describe())

print("[INTERPRETATION]")
print("- Score distributions show reasonable variance.")
print("- Data supports predictive modeling.")

[STATISTICS] Descriptive statistics:

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

[INTERPRETATION]
- Score distributions show reasonable variance.
- Data supports predictive modeling.

In [24]:
# ==============================
# SECTION 7: FEATURE TYPE CLASSIFICATION
# ==============================

feature_types = {
    "gender": "Categorical",
    "race/ethnicity": "Categorical",
    "parental level of education": "Ordinal",
    "lunch": "Binary",
    "test preparation course": "Binary",
    "math score": "Numerical",
    "reading score": "Numerical",
    "writing score": "Numerical"
}

print("[FEATURE TYPES]")
for k, v in feature_types.items():
    print(f"  ➤ {k:30s}: {v}")

[FEATURE TYPES]
  ➤ gender                        : Categorical
  ➤ race/ethnicity                : Categorical
  ➤ parental level of education   : Ordinal
  ➤ lunch                         : Binary
  ➤ test preparation course       : Binary
  ➤ math score                    : Numerical
  ➤ reading score                 : Numerical
  ➤ writing score                 : Numerical

In [25]:
# ==============================
# SECTION 8: DATA QUALITY CHECK
# ==============================

missing = df.isnull().sum()
print("[DATA QUALITY] Missing values per column:")
display(missing)

print("[INTERPRETATION]")
print("- Absence of missing values reduces preprocessing complexity.")

[DATA QUALITY] Missing values per column:

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

[INTERPRETATION]
- Absence of missing values reduces preprocessing complexity.

In [26]:
# ==============================
# SECTION 9: TARGET VARIABLE ANALYSIS
# ==============================

print("[TARGET ANALYSIS]")
print("- Regression Targets     : Math, Reading, Writing Scores")
print("- Classification Target  : Derived Pass/Fail")

print("[NOTE] Final target selection depends on downstream objectives.")

[TARGET ANALYSIS]
- Regression Targets     : Math, Reading, Writing Scores
- Classification Target  : Derived Pass/Fail
[NOTE] Final target selection depends on downstream objectives.

In [27]:
# ==============================
# SECTION 10: ML READINESS ASSESSMENT
# ==============================

print("[ML READINESS SUMMARY]")
print("- Supervised Learning     : Supported")
print("- Missing Value Handling  : Not required")
print("- Categorical Encoding    : Required")
print("- Ordinal Handling        : Required")
print("- Dataset Size            : Suitable for baseline models")

print("[ARCHITECTURAL CONCLUSION]")
print("The Student Performance dataset is well-suited for supervised learning with minimal preprocessing.")

[ML READINESS SUMMARY]
- Supervised Learning     : Supported
- Missing Value Handling  : Not required
- Categorical Encoding    : Required
- Ordinal Handling        : Required
- Dataset Size            : Suitable for baseline models
[ARCHITECTURAL CONCLUSION]
The Student Performance dataset is well-suited for supervised learning with minimal preprocessing.

In [28]:
# ==============================
# SECTION 11: CONCLUSION
# ==============================

print("[FINAL CONCLUSION]")
print("- Dataset is clean and well-structured.")
print("- Feature types and targets are clearly understood.")
print("- Dataset is ready for ML experimentation.")

[FINAL CONCLUSION]
- Dataset is clean and well-structured.
- Feature types and targets are clearly understood.
- Dataset is ready for ML experimentation.